# Windows files should use crlf line endings
# https://help.github.com/articles/dealing-with-line-endings/
*.bat text eol=crlf
*.jpg        -text
*.png        -text
*.mp4        -text
*.jar        -text