
<section class="section-about" id="about">
  <div class="u-center-text u-margin-bottom-big">
    <h2 class="heading-secondary">About me</h2>
  </div>

  <div class="row">
    <div class="col-1-of-2">
      <h3 class="heading-tertiary u-margin-bottom-small">
        Lead Frontend Engineer with +3 years of experience
      </h3>
      <p class="paragraph">
        Currently, I am working for a leading technology company in South
        America called Trade.ec, where I have worked on large projects such
        as:{" "}
        <span class="font-bold">
          KFC, Appedir, Multicines, Juan Valdez, Wendys, El Español Gourmet
        </span>{" "}
        among others.
      </p>

      <h3 class="heading-tertiary u-margin-bottom-small">
        My rol focus on
      </h3>
      <p class="paragraph">
        I led the development and implementation of new features in the web
        and mobile applications of{" "}
        <span class="font-bold">
          Multicines, Wendys, and Pure Nature
        </span>
        , among others. Although I continue to provide support to the rest
        of the projects in which I had the opportunity to participate.
      </p>

      <a
        class="btn-text"
        type="button"
        href="#home"
      >
        Learn more &rarr;
      </a>
    </div>
    <div class="col-1-of-2">
      <div class="composition">
        <img
          srcset="./Kfc.png 300w, ./Kfc.png 1000w"
          alt="KFC"
          sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
          class="composition__photo composition__photo--p1"
          src="./Kfc.png"
        />
        <img
          srcset="./Appedir.png 300w, ./Appedir.png 1000w"
          alt="Appedir"
          sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
          class="composition__photo composition__photo--p2"
          src="./Appedir.png"
        />
        <img
          srcset="./Multicines.png 300w, ./Multicines.png 1000w"
          alt="Multicines"
          sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
          class="composition__photo composition__photo--p3"
          src="./Multicines.png"
        />
      </div>
    </div>
  </div>
</section>
