.card {
  // FUNCTIONALITY
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  min-height: 52rem;

  &__side {
    height: 52rem;
    transition: all 0.8s ease;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &--front {
      background-color: $color-white;
    }

    &--back {
      margin-top: -1rem;
      transform: rotateY(0);
      clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }

      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }

      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $color-kfc-light,
          $color-kfc-dark
        );
      }

      &-4 {
        background-image: linear-gradient(
          to right bottom,
          $color-forth-light,
          $color-forth-dark
        );
      }

      &-5 {
        background-image: linear-gradient(
          to right bottom,
          $color-five-light,
          $color-five-dark
        );
      }

      &-6 {
        background-image: linear-gradient(
          to right bottom,
          $color-sixth-light,
          $color-sixth-dark
        );
      }
    }
  }

  // &:hover &__side--front {
  //   transform: rotateY(-180deg);
  // }

  // &:hover &__side--back {
  //   transform: rotateY(0);
  // }

  // FRONT SIDE STYLING
  &__picture {
    background-size: cover;
    height: 33rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-top: -10rem;
    cursor: pointer;

    &:hover {
      // outline: 1.5rem solid $color-primary;
      transition: all 0.2s;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      z-index: 20;
    }

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-secondary-light, 0.1),
          rgba($color-secondary-dark, 0.1)
        ),
        url(/Multicines.webp);
    }

    &--2 {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-tertiary-light, 0.1),
          rgba($color-tertiary-dark, 0.1)
        ),
        url(/Appedir.webp);
    }

    &--3 {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-kfc-light, 0.1),
          rgba($color-kfc-dark, 0.1)
        ),
        url(/Kfc.webp);
    }

    &--4 {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-forth-light, 0.1),
          rgba($color-forth-dark, 0.1)
        ),
        url(/konecta.webp);
    }

    &--5 {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-five-light, 0.1),
          rgba($color-five-dark, 0.1)
        ),
        url(/live-subastas.webp);
    }

    &--6 {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-sixth-light, 0.1),
          rgba($color-sixth-dark, 0.1)
        ),
        url(/aero-administrator.webp);
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $color-white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    cursor: pointer;

    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.85),
        rgba($color-secondary-dark, 0.85)
      );
    }

    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-tertiary-light, 0.85),
        rgba($color-tertiary-dark, 0.85)
      );
    }

    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-kfc-light, 0.85),
        rgba($color-kfc-dark, 0.85)
      );
    }

    &--4 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-forth-light, 0.85),
        rgba($color-forth-dark, 0.85)
      );
    }

    &--5 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-five-light, 0.85),
        rgba($color-five-dark, 0.85)
      );
    }

    &--6 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-sixth-light, 0.85),
        rgba($color-sixth-dark, 0.85)
      );
    }
  }

  &__details {
    ul {
      list-style: none;
      width: 92%;
      margin: 0 auto;

      li {
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-2;
        }

        p {
          line-height: 1.2rem;
          font-size: small;

          @include respond(tab-land) {
            display: none;
          }
        }
      }
    }
  }

  // FRONT SIDE STYLING
  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }

  &__price-box {
    text-align: center;
    color: $color-white;
    margin-bottom: 8rem;
  }

  &__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__price-value {
    font-size: 6rem;
    font-weight: 100;
  }

  //@include respond(tab-port) {
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    height: auto;
    border-radius: 3px;
    background-color: $color-white;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &__side {
      height: auto;
      position: relative;
      box-shadow: none;

      &--back {
        transform: rotateY(0);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
      }
    }

    &:hover &__side--front {
      transform: rotateY(0);
    }

    &__details {
      padding: 1rem 3rem;
    }

    // FRONT SIDE STYLING
    &__cta {
      position: relative;
      top: 0%;
      left: 0;
      transform: translate(0);
      width: 100%;
      padding: 7rem 4rem 4rem 4rem;
    }

    &__price-box {
      margin-bottom: 3rem;
    }

    &__price-value {
      font-size: 4rem;
    }
  }
}
