<section class="section-experience" id="experience">
  <div class="flex flex-col">
    <div class="mr-auto ml-auto">
      <h1 class="heading-primary">
        <span class="heading-primary--sub text-5xl tracking-wider">
          My experience
        </span>
      </h1>
    </div>

    <div class="row">
      <div class="col-1-of-4">
        <div class="feature-box">
          <i class="feature-box__icon icon-basic-world"></i>
          <h3 class="heading-tertiary u-margin-bottom-small">
            Lead Frontend Engineer
          </h3>
          <p class="feature-box__text">
            <span class="font-bold">
              Since December 2023 Trade.ec Remote - Ecuador
            </span>
            <br />I currently oversee a dynamic three-person team engaged in
            two distinct projects utilizing Next.js and Expo React Native
            frameworks. My role involves leading all client meetings to
            ensure a thorough understanding of their requirements and
            project objectives, enabling us to stay ahead of deadlines and
            deliverables.
          </p>
        </div>
      </div>
      <div class="col-1-of-4">
        <div class="feature-box">
          <i class="feature-box__icon icon-basic-compass"></i>
          <h3 class="heading-tertiary u-margin-bottom-small">
            Ssr Frontend Engineer
          </h3>
          <p class="feature-box__text">
            <span class="font-bold">
              From December 2021 to December 2023 (2 years 1 month) Trade.ec
              Remote - Ecuador
            </span>
            <br />
            Developed a platform based on React, including Next.js and React
            Native/Expo for mobile applications. Our main customer is KFC,
            along with all their sub-brands such as Appedir, Kioscos, El
            Español, Wendy's, Juan Valdez, etc.
          </p>
        </div>
      </div>
      <div class="col-1-of-4">
        <div class="feature-box">
          <i class="feature-box__icon icon-basic-map"></i>
          <h3 class="heading-tertiary u-margin-bottom-small">
            Frontend Engineer
          </h3>
          <p class="feature-box__text">
            <span class="font-bold">
              From December 2020 to December 2021 (1 year 1 month) TECSUP
              DIGITAL TRANSFORMATION Remote - Peru
            </span>
            <br />
            Developed a virtual fair registration and administration panel
            application for Agromin in 2021 based on React with Redux. I
            have also built administrator panels, auction web pages, and
            single-page applications, including a video streaming platform,
            panel administrators, and other single-page applications. We
            utilized React, AWS and Firebase cloud services for these
            projects.
          </p>
        </div>
      </div>
      <div class="col-1-of-4">
        <div class="feature-box">
          <i class="feature-box__icon icon-basic-heart"></i>
          <h3 class="heading-tertiary u-margin-bottom-small">
            Software Engineer Intern
          </h3>
          <p class="feature-box__text">
            <span class="font-bold">
              Jun 2020 - Dec 2020 (7 months) UNSA Hybrid - Peru
            </span>
            <br />
            Integrating changes at system support, used to manage University
            grade grading system. Integrating changes at system support,
            used to manage University grade grading system.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>